div.wrapper h1:first-child {
    margin-top: 0;
    font-size: 35pt;
}

span.username {
    color: rgb(150, 150, 150);
    margin-left: 20px;
    font-weight: normal;
}

h1 div.pp-large {
    float: right;
}

hr {
    width: calc(100% - 2.5em - 100px);
    position: relative;
    right: 25px;
}

ul.links {
    list-style: none;
    padding-left: 20px;
}

ul.links li.title {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
}

ul.links li a {
    color: rgb(56, 56, 56);
    padding-left: 15px;
}