h1:first-child {
    margin-top: 0;
}

input, textarea {
    width: 100%;
    display: block;
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

textarea {
    height: 500px;
    font-family: 'Inconsolata', monospace;
    font-size: 14pt;
    resize: vertical;
}

textarea#description {
    height: 3em;
    font-family: 'Roboto', sans-serif;
}

input[type=submit] {
    cursor: pointer;
    margin-bottom: 0;
    background-color: rgba(54, 119, 230, 0.125);
    color: rgb(101, 121, 155);    
}